<aside class="sidebar" id="sidebar">
  <div class="nav-image">
    <img src="../assets/img/header.jpg"/>
  </div>
    <nav id="navigation">
      {% include links.html %}
    </nav>
    <div class="nav-image">
      <span>Contributor Programme</span>
      <p>Welcome to tagbit contributor programme. Appy for contributor programme. Those who got selected will recieve a email with verification link.</p>
      <div class="nav-btn">
        <a class="nav-button" href="#">Apply</a>
        <a class="nav-button" href="#">Apply</a>
      </div>
    </div>
</aside>
