<aside class="sidebar" id="sidebar">
    <nav id="navigation" class="nav-msg">
      <span class="nav-banner"><i class="tagbit-icons icon-shape-star"></i>Navigation Menu</span>
      {% include links.html %}
    </nav>
    <div class="nav-msg">
      <span class="nav-banner"><i class="tagbit-icons icon-heart-2"></i>Contributor Programme</span>
      <p>Welcome to tagbit contributor programme. If you are a creative person who can guide enthusiastic peoples to learn something new. Apply for contributor programme now. Those who got selected will recieve an email with a verification link. Happy reading.</p>
      <div class="nav-btn">
        <a class="nav-button" href="javascript:void(
        window.open(
          'https://form.jotform.com/201125769592460',
          'blank',
          'scrollbars=yes,
          toolbar=no,
          width=700,
          height=500'
        )
      )">Apply Now</a>
        <a class="nav-button" href="{{site.baseurl}}/admin">Sign In</a>
      </div>
    </div>
    <div class="nav-msg nav-msg-border">
      <span class="nav-banner"><i class="tagbit-icons icon-planet"></i>Explore Tagbit</span>
      <div class="nav-btn">
        <a class="nav-button  btn-full" href="{{site.baseurl}}/tags/">Explore Now</a>
      </div>
    </div>
</aside>
