<aside class="sidebar" id="sidebar">
    <nav id="navigation" class="nav-msg">
      <span class="nav-banner"><i class="tagbit-icons icon-heart-2"></i>Navigation Menu</span>
      {% include links.html %}
    </nav>
    <div class="nav-msg">
      <span class="nav-banner"><i class="tagbit-icons icon-heart-2"></i>Contributor Programme</span>
      <p>Welcome to tagbit contributor programme. Appy for contributor programme. Those who got selected will recieve a email with verification link.</p>
      <div class="nav-btn">
        <a class="nav-button" href="#">Apply Now</a>
        <a class="nav-button" href="#">Sign In</a>
      </div>
    </div>
    <div class="nav-msg">
      <span class="nav-banner"><i class="tagbit-icons icon-planet"></i>Explore Tagbit</span>
      <div class="nav-btn">
        <a class="nav-button  btn-full" href="{{site.baseurl}}/tags/">Explore Now</a>
    </div>

</aside>
